<li>
<%= link_to user.name , user %><br />
<%= gravatar_for user,size:30 %><br />
<% if current_user.admin? && !current_user?(user) %>
<%= link_to "delete" ,user, method: :delete , confirm: "You Sure?" %>
<% end %>
</li>
