<h1>About Rails on Ruby</h1>
<p>Ruby on rails often acronymed as RoR is a modern, open source web development framework. This one is a modern language, but not even so modern so as we can neglect it's importance at the present time. It already has influenced millions of users in the world, and is becoming one of the top-notch open source web framework. Even the social site "Twitter" is formed by ruby on rails.</p>
<h2>Why Ruby on Rails?</h2>
<p>If you are proficient in Ruby on Rails you will find yourselves with following advantages:
<ul>
<li>Ruby on Rails as mentioned formerly is a new-era development framework, which uses much less codes and much less configuration data.</li>
<li>It is an interpreter based language and so is quick and user friendly.</li>
<li>It's a budding language and provides a large scope for new users</li>
</ul>






