<h1>Help me </h1>
<p>For any help/bugs/questions/opinions contact the following persons<br /><br />

Vikas S Yaligar -- 9481543789[vikasyaligar.it@gmail.com] (backend web development of the website )<br />
Ketan Pandhi -- ketanpandhi13@gmail.com (frontend development )<br />
Mithun Bylappa -- <br />(frontend development and images)
Karan Sheoran -- <br /> (frontend development)

 </p>
