<tr>
<td class="micropost">
<span class="content"><%= micropost.content %></span>
<span class="timespamp">
Posted <%= time_ago_in_words(micropost.created_at) %> ago.
</span>
</td>
<% if current_user?(micropost.user) %>
<td>
<%= link_to "delete" , micropost , method: :delete,
				   confirm: "You Sure ?",
				   title: micropost.content %>
</td>
<% end %>
</tr>

